dev*/

build/

dist/

logs/

Pictures/

aligned-images/

generated-embeddings/

test*.jpg

__pycache__/

newsheadlinesfetcher/__pycache__/

newsheadlinesfetcher/static/images_db/

newsheadlinesfetcher.egg-info/

newsheadlinesfetcher.sublime-project

newsheadlinesfetcher.sublime-workspace

