<!DOCTYPE html>
<html lang="en">
<head>
	<title>News Headline Fetcher</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-3.3.7.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-3.3.7-theme.min.css') }}">
</head>
<body>
	<h1>News Headline Fetcher{% block title %}{% endblock %}</h1>
	<h2>{{acticles_number}} Articles in store: {{political_articles}} </h2>
	{% block flash_messages %}
	{% for message in get_flashed_messages() %}
		<div id=flash_messages>
			<div class="alert alert-warning alert-dismissible fade in" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				{{ message }}
			</div>
		</div>
	{% endfor %}
	{% endblock flash_messages %}


	{% block newspapers %}
	<div id="newspapers">
	{%for newspaper in newspapers%}
		<div>
			<a href="/newspaper/{{newspaper.name}}">
				{{newspaper.name}}
			</a>
		</div>
	{% endfor %}
	</div>
	{% endblock newspapers %}
	

	{% block wordcloud %}
	<div id="wordcloud">
		<img src="{{ url_for('static', filename='img/wordcloud.png') }}">
	</div>
	{% endblock wordcloud %}


	<div id="gallery_images">
		{% block gallery_images %}
		<span id="next_start_date" next_start_date="{{next_start_date}}"></span>
		{% endblock gallery_images%}
	</div>

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.0.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-3.3.7.min.js') }}"></script>

	<script type="text/javascript">
		var currently_updating = true;

		function performAJAX() {
			next_start_date = $("#next_start_date").attr("next_start_date");
			if ( next_start_date ) {
				currently_updating = true;
				$.ajax( {context: this, url:"/articles?StartDate="+next_start_date,success:function(result) {
					$("#start_date").remove();
					$("#next_start_date").remove();
					$(result).appendTo("#gallery_images");
					console.log("ajax done")
					this.currently_updating = false;
				}});
			}
		}

		$(document).ready (function(){
			$("#flash_messages").slideUp();
			performAJAX();
		});

		$(window).on('scroll', function(){
			var scrollTop = $(window).scrollTop();
			var bodyHeight = $(document).height() - $(window).height();
			var scrollPercentage = scrollTop / bodyHeight;

			if(  scrollPercentage > 0.8  && !currently_updating) {
				performAJAX();
			}
		}).scroll();
	</script>

</div>